/* Necessary styles */
.modal-box{
position:fixed;
overflow:auto;
top:0;
right:0;
bottom:0;
left:0;
z-index:100
}
.modal-backdrop{
position:fixed;
top:0;
right:0;
bottom:0;
left:0;
z-index:90
}
.modal-wrapper{
position:relative;
height:100%;
margin:0 auto;
border-spacing:0
}
.modal-wrapper tr{
position:relative;
vertical-align:middle;
margin:0;
padding:0
}
.modal-wrapper td{
position:relative;
margin:0;
border:0;
vertical-align:middle
}
.modal{
position:relative;
opacity:0;
z-index:100
}
/* Example styles */
body{
position:relative;
display:block;
-webkit-font-smoothing:subpixel-antialiased;
font-family:Arial,Helvetica,Tahoma;
margin:0;
padding:0
}
button{
display:block;
padding:3px;
margin:5px auto;
}
.Example.modal-box{
background-color:rgba(0,0,0,0.175)
}
.Example .modal-wrapper td{
padding:15px 0;
}
.Example .modal{
background:#fff;
border:1px dashed #aaa;
border-radius:4px;
width:600px; 
padding:24px 0
}
.Example .modal-title{
display:table;
line-height:26px;
margin:auto;
padding:0 13px;
background:#eee;
font-size:15px;
color:#171717;
-webkit-user-select:none;
-khtml-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
-o-user-select:none
}
.Example .modal-body{
width:80%;
padding:30px;
margin:154px auto 130px;
background:rgba(0,0,0,0.05);
border-radius:3px;
color:#171717;
text-align:center
}